.composite-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.videos-column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.composite-video {
  width: 100%;
}

.controls {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
